body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Divide the page into three rows */
    min-height: 100vh;
    background-color: rgb(188, 227, 222);
}

header {
    background-color: white;
    padding: 10px 0;
}

#main-menu {
    text-align: center;
}

#main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#main-menu ul li:hover {
    background-color: lightgray; 
}
#main-menu ul li {
    display: inline;
    margin-right: 20px;
}

#main-menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}



.Search-Bar {
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line to center vertically */
    height: 100vh; /* Set the height of the search bar section to fill the viewport */
}

.search-Bar {
    text-align: center; /* Center the content inside the search bar */
}

.searchbox {
    width: 300px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
}

button {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}

.searchbox {
    width: 300px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
}

button {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}


footer {
    background-color: white;
    padding: 10px 0;
    text-align: center;
}
